.repository_card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    width: calc(100% - 420px);
    padding-bottom: 20px;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid #d0d7de;
    margin: 10px 200px 10px 200px;
    cursor: pointer;
}

.repository_card:hover {
    background-color: rgb(244, 244, 244);
}

@media only screen and (max-width: 820px) {
    .repository_card {
        width: calc(100% - 40px);
        margin: 10px 20px 10px 20px;
    }
}

.repository_name_name {
    color: blue;
    font-size: 16px;
    margin-right: 20px;
    font-weight: bold;
}

.repository_name_owner {
    border-radius: 15px;
    border: 1px solid #d0d7de;
    padding: 2px 10px 2px 10px;
    background-color: rgb(244, 244, 244);
}

.repository_description {
    margin-top: 8px;
}

.repository_information {
    display: flex;
    margin-top: 8px;
}

.repository_information>span {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #d0d7de;
    padding: 3px 8px 3px 8px;
}